a {
    float: left;
    padding: 20px 15px;
    font-size: 12px;
    color: #dddddd;
}
body {
    background-image: url("../images/positive.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background:#666666;
    color: hsl(0, 0%, 100%);
    text-align: center;
    border-top: 8px solid #4aaaa5;
    margin: auto;
    width:100%;
    height:40px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
h1{
    color: #4aaaa5;
}
header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    background-color: #ffffff;
    border-bottom: 2px solid #dddddd;
    width: 100%;
    height: 80px;
    text-align: center;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
label { 
    padding: 5px;
}
#bio-image{
    float: left;
    margin: 0 20px;
    height: 200px;
    width: 150px;
    overflow: visible;
    border-radius: 8px;
}
#clearfix::after {
    content: "";
    clear: both;
    display: table;
}
#header-name {
    width: 25%;
    margin: 0 50px;
    margin-left: 15%;
}
#header-section {
    margin: auto;
    width: 960px;
}
#info-section {
    float: left;
    width: 25%;
    margin-left: 35%;
    padding: 15px 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
#line {
    width: 950px;
    border-bottom: 3px solid #dddddd;

}
#main-section {
    margin: auto;
    width: 960px;
    padding: 10px;
    margin: 10% 15%;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    background: #ffffff;
    resize: vertical;
}
#name {
    background: #4aaaa5;
    color: #ffffff;
    height: 40px;
    margin: auto;
    font-size: 20px;
}
#message {
    height: 200px;
}
.button {
    background: #4aaaa5;
    color: #ffffff;
    width: 100px;
    height: 30px;
    margin: 0 5px;
}
.container {
    position: relative;
    width: 50%;
    max-width: 160px;
    display: inline-block;
    padding: 15px 35px;
}
.container:hover .overlay {
    opacity: 1;
}
.info {
    text-align: right;
    color: #777777;
    font-size: 15px;
}
.input {
    margin: 5px;
    width: 940px;
    height: 25px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
input::placeholder {
    padding: 0 5px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}
.images {
    width: 150px;
    height: 150px;
    display: block;
    border-radius: 50%;
}
.overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(74, 170, 165, 0.7);
    color: #f1f1f1; 
    width: 60%;
    transition: .5s ease;
    opacity:0;
    font-size: 20px;
    padding: 5px;
    text-align: center;
}
  